<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="string_conexao" value="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=log;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>
</configuration>