
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    </div>

    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/configLog.js"></script>
    <script>

        verificaSessao();

    </script>
</body>
</html>
